html {
    background-color: snow;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    width: 720px;
    height: 720px;
    border: 2px solid black;
}

.square{
    padding: 0;
    margin: 0;
    border: 1px solid blueviolet;
}