@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

html {
    background-color: rgb(241, 236, 236);
}
header{
    text-align: center;
    font-family: 'Nabla', cursive;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.cosas{
    display: flex;
    gap: 2vw;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    width: 720px;
    height: 720px;
    background-color: white;
    border: 2px solid snow;
    box-shadow: 0 0 1rem rgb(138, 135, 135);
}
.options {
    height: 720px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2vh;
}

.square{
    padding: 0;
    margin: 0;

}

.color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    height: 100px;
    width: 100px;
    border: none;
    cursor: pointer;

}

.color::-webkit-color-swatch{
    border-radius: 50%;
    border: 3px solid white;
}

.on{
    border: none !important;
    box-shadow: none!important;
     background: rgb(255,238,43);
  background: linear-gradient(90deg, rgba(255,238,43,1) 0%, rgba(0,212,255,1) 100%); 
    width: 50%;
    transition: none!important;
    color: #20202a;
    padding: 18px;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 30px;
      font-weight: bold;
    font-size: 20px;
    width: 100%;
  }
  .off {
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(241, 236, 236, 0), rgba(241, 236, 236, 0)), linear-gradient(90deg, rgba(255,238,43,1) 0%, rgba(0,212,255,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgb(241, 236, 236) inset;
    width: 50%;
    transition: none!important;
    color: #20202a;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 30px;
      font-weight: bold;
    font-size: 20px;
    width: 100%;
  }
  button:hover{
    box-shadow: 0 0 .4rem #000000;
  }
  #value{
    color:#20202a;
    font-size: 20px;
    font-weight: bold;
    
  }

  #myRange{
    cursor: pointer;
  }